.OrderSummary{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
ul{
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
}
/* h3{
    display: flex;
    justify-content: center;
}
strong{
    display: flex;
    justify-content: center;
} */