.Toolbar{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: rgb(15, 14, 14);
    margin-bottom: 15px;
    background: linear-gradient(170deg, #0c4f86 -17.33%, rgba(26, 108, 167, 0.397) 75.91%),
    linear-gradient(-45deg, #FFFFFF, #FFFFFF);
    justify-content: space-between;
    box-shadow: 0 0 10px rgb(0, 20, 78);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    height: 70px;
  }
  @media (max-width: 680px) {
    .Toolbar nav {
        display: none;
    }
  }