.Logo{
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    
    }
    .Logo img{
        height: 7rem;
        margin: .5rem;
    }
    .text{
        color: rgb(224, 207, 174);
    }