.DonutPreview {
    flex: 0 0 400px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    justify-content: center;  
   margin-right: 15px;
   align-items: center;
    }
    .plate{
        width: 400px;
        height: 400px;
        border-radius: 100%;
        position: relative;
        background-size: cover;
        margin-right: 18px;
        background-position: center
    }
    .ingredients {
        width: 380px;
        height: 380px;
        border-radius: 100%;
        position: relative;
      }
    .price {
      background-color: blue;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size:42px;
        text-transform:uppercase;
        color: transparent;
          background: linear-gradient(to left, #1e5799, #2ce0bf, #76dd2c, #dba62b, #e02cbf, #1e5799);
        background-size: 1000px 100%;
        animation: bg 15s linear infinite;
        background-clip: text;
        -webkit-background-clip: text;
      }
      
      @keyframes bg {
        0% {
          background-position-x: 0;
        }
        100% {
          background-position-x: 10000px;
        }
      }
      /* .price{
        font-size: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: rgb(19, 65, 190);
        border-radius: 50px;
        color: lavender;
        margin-bottom: 15px;
     
         
      }  */