.Drawer .content {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px; 
  font-size: 26px;
  color: white;
  background: linear-gradient(170deg, #3789cc -17.33%, rgba(46, 116, 167, 0.397) 75.91%),
  linear-gradient(-45deg, #FFFFFF, #FFFFFF);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  z-index: 2;
  transition: transform .3s ease-out;
  }
  .open {
    transform: translateX(0);
  }
  .close {
    transform: translateX(-260px);
  }
  @media (min-width: 680px) {
    .Drawer  {
    display: none;
    }
    }