.DonutControls {
    flex: 0 0 250px;
    border-radius: 1rem;
    padding: 1rem;
    /* background: linear-gradient(170deg, #1180ac -17.33%, rgba(46, 121, 175, 0.753) 75.91%),
    linear-gradient(-45deg, #FFFFFF, #FFFFFF); */
    background-image: linear-gradient(to top, #d9afd9 0%, #58d1df 100%);
    /* background-image: linear-gradient(to top, #5ebcc7  0%, #9b7c9b  100%); */
    color: white;
    text-align: center;
    width: 450;
    height: 550px;
     
    }
    .Button{
        display: flex;
        justify-content: center;
        border: none;
        /* display: block; */
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        outline: none;
        overflow: hidden;
        position: relative;
        color: #fff;
        font-weight: 700;
        font-size: 15px;
        background-color: white;
        /* background: linear-gradient(170deg, #065a9e -17.33%, rgba(7, 92, 153, 0.397) 75.91%),
        linear-gradient(-45deg, #FFFFFF, #FFFFFF); */
        outline: none;
        padding: 17px 60px;
        margin: 0 auto;
        box-shadow: 0 5px 15px rgba(0,0,0,0.20);
        border-radius: 15px;
    }
    .Button span{
    position: relative; 
    z-index: 1;
    }
    .Button:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 490%;
        width: 140%;
        background-image: linear-gradient(to top, #bd14bd 0%, #0892a1 100%);
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-98%) translateY(-25%) rotate(45deg);
      }
      
     
.Button:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}