form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form > input{
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 2px solid rgb(10, 189, 212);
    font-size: 20px;
}
.Button{
    display: flex;
}
.h1 {
    display: inline-block;
    font: bold 4.5em/1.5 Bebas, sans-serif;
    color: #5CA17C; 
    font-size: 72px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(135deg, #FF9F65, #b9ad4c, #12b49c);
-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: .2em;
    margin-bottom: 0;
    border-bottom: 1px solid #5CA17C;
  }